

{% block content_header %}
    <section class="hero__container container">
        <h1 style="color: white;">Productos</h1>
        <div class="knowledge__container" style="text-align: left; color: white;">
            <div style="background-color: #1D293F; padding: 10px; border-radius: 3px;">
                <h2 style="color: white;">1. PAQUETE ECONOMICO</h2><br>
                $4,500.00 MXN (PAGO UNICO) <br>
                TIEMPO 5-7 DIAS HABILES <br><br>
                <div style="display: flex; justify-content: center;">
                    <button class="btn" style="background-color: dodgerblue; border-color: dodgerblue; border-bottom: 3px; border-radius: 3px; display: grid; justify-content: center;">Comprar</button>
                </div>
            </div>
            <div class="price__element" style="color: black;">
                <h2>2. PAQUETE EMPRENDEDOR</h2><br>
                <p>
                    $6,600.00 MXN (1-2 PAGOS)
                    TIEMPO 6-8 DIAS HABILES
                </p><br>
                <div style="display: flex; justify-content: center;">
                    <button class="button">Comprar</button>
                </div>
            </div>
            <div>
                3. PAQUETE NEGOCIOS
                $8,400.00 MXN (1-2 PAGOS)
                TIEMPO 7-10 DIAS HABILES
                <button class="button" style="">Comprar</button>
                <button class="" style="">Comprar</button>
            </div>
            <div>
                4. PAQUETE MICROEMPRESA
                $10,500.00 MXN (2 PAGOS)
                ESTE PAQUETE INCLUYE MEJORES CARACTERISTICAS QUE LOS PAQUETES
                ANTERIORES.
                TIEMPO 7-10 DIAS HABILES
            </div>
            <div>
                5. PAQUETE PYME
                $12,000.00 MXN (2-3 PAGOS)
                HASTA 10 SECCIONES DE INFORMACION
                ESTE PAQUETE INCLUYE MEJORES CARACTERISTICAS QUE LOS ANTERIORES
                TIEMPO 8-14 DIAS HABILES
            </div>
            <div>
                6. PAQUETE EMPRESARIAL
                $14,100.00 MXN (2-3 PAGOS)
                ESTE PAQUETE INCLUYE MEJORES CARACTERISTICAS QUE LOS ANTERIORES
                TIEMPO 8-15 DIAS HABILES
            </div>
        </div>
        <h2 style="align-items: center;">
            <a href="{% url 'bases:home' %}" style="text-decoration: none; color: white;"><img src="{% static 'base/imagess/home-2502.svg' %}" height="33px"> Inicio</a>
        </h2>
    </section>
